.navbar {
  background-color: black
}

#greenLine {
  height: .5em;
  background-color: #7cc142;
}

#body-row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#sidebar-container {
  background-color: #7cc142;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}


/* Menu item*/

#sidebar-container .list-group a {
  height: 25vh;
  color: white;
}

.list-group .list-group-item:first-child {
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
  background-color: #7cc142 !important;
}

.list-group img {
  width: 5em;
  height: 5em;
}


/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

.sidebar-separator {
  background-color: #333;
  height: 25px;
}

.logo-separator {
  background-color: #333;
  height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  display: inline;
  text-align: right;
  padding-left: 10px;
  font-weight: 900;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: "Font Awesome 5 Free";
  display: inline;
  text-align: right;
  padding-left: 10px;
  font-weight: 900;
}

.nav-bg {
  border-top: 5px solid #7cc142;
  background-color: #000;
}

rect {
  width: auto !important;
}

.container-fluid {
  height: 100vh;
}

.progress {
  margin-bottom: 1em;
  height: 2.3em;
}

#nTrabajadores {
  padding: 2em;
  height: 2em;
}

.table {
  margin: 1rem;
  text-align: center;
}

table.table thead th {
  border-top: none;
  background: black;
  color: #7cc142;
  font-weight: 900;
}

#imagen {
  display: flex;
  justify-content: center;
  color: black;
}

.bg-dark {
  background-color: #7cc142 !important;
}